
fieldset {
    border: 1px solid red;
    padding: 1em;
}

fieldset legend {
    font-weight: bold;
    margin: 0 1em;
    font-size: 1.5em;
}

form div {
    padding: 5px;
}

form label {
}

form input[id="email"], form input[id="firstname"], form input[id="lastname"] {
}

form #emailFail {
    font-size: 1.3em;
    color: red;
    font-weight: bold;
}

#columns {
    /* Three column layout */
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;

    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;

    -webkit-column-rule: 1px solid black;
    -moz-column-rule: 1px solid black;
    column-rule: 1px solid black;
}

/* #formContainer {
    width: 500px;
    position: absolute;
    top: 10px;
    left: 50px;
    background-color: lightblue;
}
*/

body {
    overflow: auto;
}
